{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% if form.instance.pk %}Editar{% else %}Novo{% endif %} Cliente</title>
    <link rel="stylesheet" href="{% static 'crm_app/css/styles.css' %}">
</head>
<body>
    <h1>{% if form.instance.pk %}Editar{% else %}Novo{% endif %} Cliente</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>
    <a href="{% url 'lista_clientes' %}">Cancelar</a>
</body>
</html>